    footer a {
      text-decoration: none;
      /* ซ่อนเส้นใต้โดยค่าเริ่มต้น */
    }

    footer a:hover {
      text-decoration: underline;
      /* แสดงเส้นใต้เมื่อเมาส์ชี้ */
    }

    .btn-not-login {
      background: #f57421;
      color: white;
      padding: 5px 85px;
      transition: all 0.2s ease-in-out;
    }

    .btn-not-login:hover {
      color: white;
      filter: brightness(90%);
    }