        .card-password {
            border-radius: 16px;
        }

        .icon-success {
            color: #28a745;
            /* สีเขียวสำหรับติ๊กถูก */
            font-size: 60px;
            /* ขนาดไอคอนใหญ่ */
            margin-bottom: 20px;
            /* เว้นระยะห่างจากข้อความ */
        }

        .head-reset-password {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }