    .category-item.d-none {
        display: none;
    }

    /* ปรับปุ่มให้ดูเหมือน Shopee */
    #toggle-categories {
        background-color: transparent;
        color: #007bff;
        font-size: 0.875rem;
        padding: 0;
        text-align: center;
        border: none;
    }

    #toggle-categories:hover {
        text-decoration: underline;
    }

    .plain-link {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        margin-left: 0.5rem;
    }

    .plain-link,
    .plain-link:visited,
    .plain-link:hover,
    .plain-link:active {
        color: inherit;
        text-decoration: none;
    }

    .product-img-holder {
        width: 100%;
        aspect-ratio: 1 / 1;
        /* ทำให้กล่องภาพเป็นจัตุรัส */
        overflow: hidden;
        background: #f5f5f5;
        position: relative;
    }

    .product-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: all .3s ease-in-out;
    }

    .product-item {
        cursor: pointer;
        /* แสดง pointer เมื่อ hover */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        /* เพิ่ม transition สำหรับ effect */
    }

    /* เมื่อ hover ที่การ์ด จะขยายขนาดเล็กน้อย */
    .product-item:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        /* เพิ่มเงาเมื่อ hover */
    }

    .product-item:hover .product-img {
        transform: scale(1.1)
    }

    .card-title-product {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* จำนวนบรรทัด */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .banner-price {
        font-size: 20px;
        color: #f57421;
    }

    /* สำหรับป้ายสินค้าหมด */
    .out-of-stock-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 0, 0, 0.7);
        /* สีแดงโปร่งแสง */
        color: white;
        padding: 8px 15px;
        border-radius: 13px;
        font-weight: bold;
        z-index: 10;
        /* ให้แสดงทับบนรูปภาพ */
        text-align: center;
        white-space: nowrap;
    }

    /* สำหรับสินค้าที่หมดสต็อก */
    .out-of-stock .product-img {
        filter: grayscale(100%);
        /* ทำให้รูปภาพเป็นขาวดำ */
        opacity: 0.6;
        /* ทำให้รูปภาพจางลง */
    }

    /* อาจจะเพิ่ม Overlay เมื่อสินค้าหมด */
    .out-of-stock .product-img-holder::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        /* Overlay สีดำโปร่งแสง */
        z-index: 5;
        /* อยู่ใต้ label แต่ทับรูปภาพ */
    }

    .prdouct-badge {
        font-size: 12px;
        /* ลดขนาดฟอนต์ */
        padding: 4px 5px;
        /* ปรับ padding */
        background-color: #f79c60;
    }