
.user-img {
  position: absolute;
  height: 27px;
  width: 27px;
  object-fit: cover;
  left: -7%;
  top: -12%;
}

.user-dd:hover {
  color: #fff !important
}
.searchcolor {
  color: #f57421;
}

.searchcolor:hover {
  color: white;
}

.button1 {
  background-color: none;
  border: 2px solid #f57421;
  border-radius: 13px;
}

.button1:hover {
  background-color: #f57421;
  color: white;
}


.dfs {
  font-size: 16px;
  padding: 0.5em 0;
}

.acs {
  font-size: 16px;
  display: inline-block;
  max-width: 100px;
  /* หรือกำหนดตามขนาดที่คุณต้องการ */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.icon-size {
  font-size: 22px;
  margin-left: 4px;
  margin-right: 4px;
}

.icon-acc-size {
  font-size: 26px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
