.breadcrumb {
		font-size: 0.95rem;
		background: none;
		padding: 0;
		margin-bottom: 1rem;
	}

	.breadcrumb-item+.breadcrumb-item::before {
		content: "/";
	}


	.text-muted-FIXX-FIXX {
		color: #202020;
	}

	.price {
		font-size: 30px;
		font-weight: normal;
	}

	.price-head {
		font-weight: bold;
	}

	.price-n {
		color: #f57421;
		font-size: 40px;
		font-weight: bold !important;
	}

	.bg-price {
		background-color: rgba(245, 116, 33, 0.1);
		/* สีส้มโปร่งใส 30% */
	}

	.stock {
		font-size: 18px;
		font-weight: normal;
	}

	.stock-n {
		font-size: 22px;
	}

	.product-info-sticky {
		position: sticky;
		top: 2rem;
		z-index: 2;
	}

	.addcart-plus {
		background: none;
		color: #f57421;
		border: 2px solid #f57421;
		padding: 5px 15px;
		margin-right: 1rem;
	}

	.addcart {
		background: none;
		color: #f57421;
		border: 2px solid #f57421;
		padding: 10px 50px;
	}

	.group-qty {
		margin: 1rem 1rem;
	}

	.btn-shop {
		min-width: 120px;
		/* ความกว้างขั้นต่ำ */
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 14px;

		background: #f57421;
		color: white;
		border: 2px solid #f57421;
		padding: 10px 20px;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
		/* <-- เว้นระยะห่างขวา */
		transition: all 0.2s ease-in-out;
	}

	.addcart:hover,
	.addcart-plus:hover {
		background-color: #f57421;
		color: white;
		display: inline-block;
	}

	.btn-shop:hover {
		color: white;
		filter: brightness(90%);
	}

	.plain-link {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		margin-left: 0.5rem;
	}

	.plain-link,
	.plain-link:visited,
	.plain-link:hover,
	.plain-link:active {
		color: inherit;
		text-decoration: none;
	}

	.sku {
		margin-left: 0.5rem;
		font-weight: normal !important;
	}


	.product-img-holder {
		width: 100%;
		aspect-ratio: 1 / 1;
		/* ทำให้กล่องภาพเป็นจัตุรัส */
		overflow: hidden;
		background: #f5f5f5;
		position: relative;
	}

	.product-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		transition: all .3s ease-in-out;
	}

	.product-item:hover .product-img {
		transform: scale(1.1)
	}

	.bg-gradient-dark-FIXX {
		background-color: #202020;
	}

	.banner-wrapper {
		width: 100%;
		height: auto;
		object-fit: cover;
		/* ครอบคลุมทั้งจอ */
		display: block;
	}

	.banner-wrapper img {
		width: 100%;
		/* เต็มความกว้าง */
		height: auto;
		/* รักษาสัดส่วนภาพ */
		display: block;
		object-fit: cover;
		/* หรือ contain แล้วแต่ภาพ */
	}

	.card-title {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		/* จำนวนบรรทัด */
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.banner-price {
		font-size: 20px;
		color: #f57421;
	}

	.modal-content {
		background-color: #fff;
		/* หรือสีที่ต้องการ เช่น white */
		border: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		/* เพิ่มเงาเบา ๆ ถ้าอยากให้ลอย */
	}

	/* สำหรับป้ายสินค้าหมด */
	.out-of-stock-label {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 0, 0, 0.7);
		/* สีแดงโปร่งแสง */
		color: white;
		padding: 8px 15px;
		border-radius: 5px;
		font-weight: bold;
		z-index: 10;
		/* ให้แสดงทับบนรูปภาพ */
		text-align: center;
		white-space: nowrap;
	}

	/* สำหรับสินค้าที่หมดสต็อก */
	.out-of-stock .product-img {
		filter: grayscale(100%);
		/* ทำให้รูปภาพเป็นขาวดำ */
		opacity: 0.6;
		/* ทำให้รูปภาพจางลง */
	}

	/* อาจจะเพิ่ม Overlay เมื่อสินค้าหมด */
	.out-of-stock .product-img-holder::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		/* Overlay สีดำโปร่งแสง */
		z-index: 5;
		/* อยู่ใต้ label แต่ทับรูปภาพ */
	}

	.product-description-mobile {
		display: none;
	}

	.product-specs {
		font-size: 14px;
		line-height: 1.6;
		color: #000;
	}

	.spec-row {
		display: flex;
		justify-content: space-between;
		padding: 6px 0;
		border-bottom: 1px solid #f1f1f1;
	}

	.spec-label {
		color: #888;
		/* สีเทาอ่อน */
		flex: 0 0 40%;
		word-break: break-word;
	}

	.spec-value {
		flex: 1;
		text-align: right;
		font-weight: 500;
		color: #333;
		word-break: break-word;
	}

	.badge-sm {
		font-size: 12px;
		/* ลดขนาดฟอนต์ */
		padding: 4px 5px;
		/* ปรับ padding */
		background-color: #f79c60;
	}


	.btn-readmore {
		min-width: 120px;
		/* ความกว้างขั้นต่ำ */
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 14px;

		background: #f57421;
		color: white;
		border: 2px solid #f57421;
		padding: 10px 20px;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
		/* <-- เว้นระยะห่างขวา */
		transition: all 0.2s ease-in-out;
	}

	.btn-readmore:hover {
		color: white;
		filter: brightness(90%);
	}

	#text-pc {
		max-height: 150px;
		/* ย่อตามความเหมาะสม */
		overflow: hidden;
		transition: max-height 0.3s ease;
		position: relative;
	}

	#text-pc.collapsed::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50px;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
	}

	#text-pc.expanded {
		max-height: none;
	}

	/* มือถือ */
	#text-mobile {
		max-height: 150px;
		/* ย่อตามความเหมาะสม */
		overflow: hidden;
		transition: max-height 0.3s ease;
		position: relative;
	}

	#text-mobile.collapsed::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50px;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
	}

	#text-mobile.expanded {
		max-height: none;
	}

	.more-text {
		line-height: 1.5;
		/* หรือ 1.6, 1.8 ตามความเหมาะสม */
	}
	.modal-dialog-image{
		margin-top: 170px !important;
	}

	@media    (max-width: 932px) {
		.modal-dialog-image{
				width: 35% !important;
			}
		.modal-dialog-image{
			margin-top: 100px !important;
		}
	}
	@media    (max-width: 912px) {
		.modal-dialog-image{
				width: 80% !important;
			}
		.modal-dialog-image{
			margin-top: 210px !important;
		}
	}
	@media    (max-width: 883px) {
		.modal-dialog-image{
				width: 35% !important;
			}
		.modal-dialog-image{
			margin-top: 120px !important;
		}
	}
	@media    (max-width: 854px) {
		.modal-dialog-image{
				width: 80% !important;
			}
		.modal-dialog-image{
			margin-top: 140px !important;
		}
	}
	@media    (max-width: 820px) {
		.modal-dialog-image{
				width: 70% !important;
			}
		.modal-dialog-image{
			margin-top: 200px !important;
		}
	}

	@media    (max-width: 768px) {
		.product-info-sticky {
			position: static !important;
		}

		.price-n {
			font-size: 28px;
		}

		.stock-n {
			align-items: center;
			font-size: 20px;
		}

		.addcart {
			margin-top: 1rem;
		}

		.btn-shop,
		.addcart {
			width: 100%;
			margin-right: 0 !important;
			padding: 10px 0;
		}
		.modal-dialog-image{
			margin-top: 190px !important;
		}
		.modal-dialog-image{
			width: 60% !important;
		}

		.product-description-mobile {
			display: block;
		}

		.product-description-mobile-pc {
			display: none;
		}

		.product-specs {
			font-size: 14px;
			line-height: 1.6;
			color: #000;
		}

		.spec-row {
			display: flex;
			justify-content: space-between;
			padding: 12px 0;
			border-bottom: 1px solid #f1f1f1;
		}

		.spec-label {
			color: #888;
			/* สีเทาอ่อน */
			flex: 0 0 50%;
			word-break: break-word;
		}

	}
	@media    (max-width: 740px) {
		.modal-dialog-image{
			width: 38% !important;
		}
		.modal-dialog-image{
			margin-top: 90px !important;
		}
	}
	@media    (max-width: 720px) {
		.modal-dialog-image{
			width: 60% !important;
		}
		.modal-dialog-image{
			margin-top: 130px !important;
		}
	}
	@media    (max-width: 668px) {
		.modal-dialog-image{
			width: 45% !important;
		}
		.modal-dialog-image{
			margin-top: 100px !important;
		}
	}
	@media    (max-width: 540px) {
		.modal-dialog-image{
			width: 90% !important;
		}
		.modal-dialog-image{
			margin-top: 135px !important;
		}
	}
	@media    (max-width: 431px) {
		.modal-dialog-image{
			width: 90% !important;
		}
		.modal-dialog-image{
			margin-top: 160px !important;
		}
	}