  .fgpw-cart-header-bar {
        padding-top: 16px;
        padding-bottom: 4px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 20px;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .card-password {
        border-radius: 16px;
    }

    #password-requirements .valid {
        color: #28a745;
    }

    #password-requirements .valid .fa-times-circle::before {
        content: "\f058";
        /* fa-check-circle */
    }