    .product-link {
        color: inherit !important;
    }

    .product-link:hover {
        background-color: #f8f9fa !important;
        text-decoration: underline !important;
    }

    .btn-orders {
        font-size: 14px;
        background-color: #f57421;
        border-radius: 13px;
        color: white;
        transition: all 0.2s ease-in-out;
    }

    .btn-orders:hover {
        color: white;
        filter: brightness(90%);
    }

    .order-peoduct {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* จำนวนบรรทัด */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .order-amount {
        font-size: 14px;
    }

    .order-price {
        font-size: 18px;
        display: block;
    }

    .order-total-detail {
        font-size: 16px;
        text-align: right;
        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 0.5rem;
    }

    .order-total {
        margin-top: 1.5rem;
        gap: 0.5rem;
    }

    .order-band {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* จำนวนบรรทัด */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    @media (max-width: 1200px) {
        .order-price {
            font-size: 16px;
            display: block;
        }

        .btn-orders {
            font-size: 12px;
            background-color: #f57421;
            border-radius: 13px;
            color: white;
            transition: all 0.2s ease-in-out;
        }
        .product-order {

            max-width: 53px; /* เช่น จำกัดให้ใหญ่สุดไม่เกิน 100px */
        }
    }